div {
    overflow-y: auto;
    padding: 0 30px;
}

table {
    margin: 100px auto;
}

table thead {
    border-bottom: 1px solid #cecece;
}

table thead th {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

table tbody tr td {
    padding: 15px;
    text-align: center;
}

table tbody tr td button {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #cecece;
}

table tbody tr td button:hover {
    transition: opacity 300ms ease-in-out;
    opacity: .7;
}